/.DS_Store
/.idea
/__pycache__
/bus_log.py.pclprof
/output.txt
/output1.txt
/output10.txt
/output11.txt
/output12.txt
/output13.txt
/output14.txt
/output2.txt
/output3.txt
/output4.txt
/output5.txt
/output6.txt
/output7.txt
/output8.txt
/output9.txt
/rutgers_bus_data.csv
/rutgers_buses.sqbpro